<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="General">
    <setting id="filter_term" type="text" label="32001" default="" />
    <setting id="sanitize_enabled" type="bool" label="32002" default="false" />
    <setting id="reverse_log" type="bool" label="32003" default="false" />
  </category>
</settings>
